{% extends 'dashboard/dashboard.html' %}

{% block title %}Organizer Dashboard{% endblock title %}

{% block events %}
<div class="overflow-x-auto rounded-xl shadow-sm bg-white mb-5">
    <table class="w-full table-fixed text-sm text-gray-600">
        <thead class="bg-gray-50 text-xs uppercase text-gray-400 border-b border-gray-200">
            <tr>
                <th class="px-4 py-3 w-[5%] text-center">#</th>
                <th class="px-4 py-3 w-[30%] text-center">Event Name</th>
                <th class="px-4 py-3 w-[15%] text-center">Category</th>
                <th class="px-4 py-3 w-[30%] text-center">Organizer</th>
                <th class="px-4 py-3 w-[20%] text-center">Date</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
            {% for event in events %}
            <tr class="hover:bg-gray-50">
                <td class="px-4 py-4 text-center font-medium">{{ forloop.counter }}</td>
                <td class="px-4 py-4 flex items-center gap-2 text-left">
                    <div class="w-2 h-2 rounded-full bg-green-500"></div>
                    <a href="{% url 'event-detail' event.id %}">{{ event.name }}</a>
                    <a href="{% url 'update_event' event.id %}" class="px-2 py-1 bg-green-500">Edit</a>
                    <form action='{% url "delete_event" event.id %}' method='POST'>
                        {% csrf_token %}
                        <button type='submit' class="px-2 py-1 bg-red-500">Delete</button>
                    </form>
                </td>
                <td class="px-4 py-4 text-center">{{ event.category.name }}</td>
                <td class="px-4 py-4 text-center">{{ event.organizer.first_name }}</td>
                <td class="px-4 py-4 text-center">{{ event.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock events %}
